extends ../layout/host.layout.pug
block content
  nav.site-header.sticky-top.py-1
    .container.d-flex.flex-column.flex-md-row.justify-content-between
      a.py-2(href='#', aria-label='Product')
        svg.d-block.mx-auto(xmlns='http://www.w3.org/2000/svg', width='24', height='24', fill='none', stroke='currentColor', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', role='img', viewbox='0 0 24 24', focusable='false')
          title Product
          circle(cx='12', cy='12', r='10')
          path(d='M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94')
      a.py-2.d-none.d-md-inline-block(href='/host') Kh&aacute;ch s&#x1EA1;n
      a.py-2.d-none.d-md-inline-block.active(href='/host/room') Ph&ograve;ng
      a.py-2.d-none.d-md-inline-block(href='#') Gi&aacute; &amp; ti&#x1EC7;n &iacute;ch
      a.py-2.d-none.d-md-inline-block(href='#') Khuy&#x1EBF;n m&#x1EA1;i
      a.py-2.d-none.d-md-inline-block(href='#') Th&#x1ED1;ng k&ecirc;
  .container-fluid.shadow-sm
    .d-flex.justify-content-between.py-4
      input.form-control(type='text', style='width: 300px', placeholder='Tìm kiếm mã hoặc tên chỗ nghỉ')
      a.btn.btn-primary(href='#') Th&ecirc;m m&#x1ED9;t ch&#x1ED7; &#x1EDF;
  .content.border-bottom
    .container-fluid.mb-4
      h5.py-2.mt-3.border-bottom.d-inline-block(style='color: #1174a6;') &Dstrok;ang ho&#x1EA1;t &dstrok;&#x1ED9;ng
    .container-fluid.mb-3
      each room in rooms
        .room-item.card.mb-3
          .card-body.d-flex.align-items-center
            .image.mr-2(style='width: 60px; height: 60px')
              img.rounded(src='http://localhost:3000/static/images/hotel-1.jpg', style='width: 100%;height: 100%')
            div
              h5='['+hotel.hotel_name+'] '+room.room_tenphong
              div
                a.badge.badge-success.mr-2(href='#') &Dstrok;ang ho&#x1EA1;t &dstrok;&#x1ED9;ng
                small=hotel.hotel_province + ', ' + hotel.hotel_country
          .w-100.border-bottom
          .card-body.py-2
            a.px-3.border-right(href='/host/'+room.room_id+'/modify') S&#x1EED;a ch&#x1ED7; &#x1EDF;
            a.px-3(href='/host/'+room.room_id+'/calender') L&#x1ECB;ch