extends ../layout/host.layout.pug
block content
  nav.site-header.sticky-top.py-1
    .container.d-flex.flex-column.flex-md-row.justify-content-between
      a.py-2(href='#', aria-label='Product')
        svg.d-block.mx-auto(xmlns='http://www.w3.org/2000/svg', width='24', height='24', fill='none', stroke='currentColor', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', role='img', viewbox='0 0 24 24', focusable='false')
          title Product
          circle(cx='12', cy='12', r='10')
          path(d='M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94')
      a.py-2.d-none.d-md-inline-block(href='/host') Kh&aacute;ch s&#x1EA1;n
      a.py-2.d-none.d-md-inline-block.active(href='/host/room') Ph&ograve;ng
      a.py-2.d-none.d-md-inline-block(href='#') Gi&aacute; &amp; ti&#x1EC7;n &iacute;ch
      a.py-2.d-none.d-md-inline-block(href='#') Khuy&#x1EBF;n m&#x1EA1;i
      a.py-2.d-none.d-md-inline-block(href='#') Th&#x1ED1;ng k&ecirc;